body{
	background-color: #eedae9;
	color: black
}
/* Сделать оформление оформление для заголовков */
h1, h2, h3, h4, h5, h6 {
	color: red;
}
/* Сделать оформление оформление для подвала */
/* Сделать оформление оформление для меню навигации */