body{
	background-color: #eedae9;
	color: black
}
/* Сделать оформление оформление для заголовков */
/* Сделать оформление оформление для подвала */
/* Сделать оформление оформление для меню навигации */
footer{
  background-color: red;
  text-align: right;
  background-color: #e699ff
}